/* @license
 * MyFonts Webfont Build ID 2423069, 2012-12-03T13:27:47-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Swiss 721 Bold Rounded by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/swiss-721-rounded/bold-rounded/
 * 
 * Webfont: Swiss 721 Black Rounded by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/swiss-721-rounded/black-rounded/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2423069
 * Webfonts copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * 
 * © 2012 Bitstream Inc
*/


@import url("//hello.myfonts.net/count/24f91d");

  
@font-face {font-family: 'Swiss721BT-BoldRounded';src: url('webfonts/24F91D_0_0.eot');src: url('webfonts/24F91D_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/24F91D_0_0.woff') format('woff'),url('webfonts/24F91D_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Swiss721BT-BlackRounded';src: url('webfonts/24F91D_1_0.eot');src: url('webfonts/24F91D_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/24F91D_1_0.woff') format('woff'),url('webfonts/24F91D_1_0.ttf') format('truetype');}
 